# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

.DS_Store
controller.php
common_files/*
*.zip
*.php
latest/*
future_pictures/*
old_.htaccess
