DirectoryIndex controller.php

<IfModule mod_php5.c>
php_value post_max_size 200M
php_value upload_max_filesize 200M
</IfModule>

RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f


#Future Data - linking to specific graphs
RewriteRule ^projected_data/([a-zA-Z0-9_-\s]+)/([a-zA-Z0-9_-\s]+)/$ ?base_page=projected_data&region-id=$1&species-id=$2
RewriteRule ^projected_data/([a-zA-Z0-9_-\s]+)/([a-zA-Z0-9_-\s]+)$ ?base_page=projected_data&region-id=$1&species-id=$2
RewriteRule ^future_data/([a-zA-Z0-9_-\s]+)/([a-zA-Z0-9_-\s]+)/$ ?base_page=future_data&region-id=$1&species-id=$2
RewriteRule ^future_data/([a-zA-Z0-9_-\s]+)/([a-zA-Z0-9_-\s]+)$ ?base_page=future_data&region-id=$1&species-id=$2

#Regional Data - linking to specific graphs
RewriteRule ^regional_data/([a-zA-Z0-9_-\s]+)/([a-zA-Z0-9_-\s]+)/$ ?base_page=regional_data&region-id=$1&species-id=$2
RewriteRule ^regional_data/([a-zA-Z0-9_-\s]+)/([a-zA-Z0-9_-\s]+)$ ?base_page=regional_data&region-id=$1&species-id=$2

RewriteRule ^regional_data/([a-zA-Z0-9_-\s]+)/$ ?base_page=regional_data&region-id=$1
RewriteRule ^regional_data/([a-zA-Z0-9_-\s]+)$ ?base_page=regional_data&region-id=$1

#Blogs
RewriteRule ^blog/([a-zA-Z0-9_-]+)/$ ?base_page=blog&blog-id=$1
RewriteRule ^blog/([a-zA-Z0-9_-]+)$ ?base_page=blog&blog-id=$1

#When all else "fails":
RewriteRule ^([a-zA-Z0-9_-]+)/$ ?base_page=$1
RewriteRule ^([a-zA-Z0-9_-]+)$ ?base_page=$1
