
@font-face {
    font-family:"Azo Sans Regular";
    src:url("azosans-regular-webfont.woff2") format("woff2"),url("azosans-regular-webfont.woff") format("woff"),url("azosans-regular-webfont.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        