
@font-face {
    font-family:"Campton Bold";
    src:url("Campton-Bold.woff2") format("woff2"),url("Campton-Bold.woff") format("woff"),url("Campton-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        