
@font-face {
    font-family:"Campton-Book";
    src:url("Rene Bieder - Campton-Book.woff2") format("woff2"),url("Rene Bieder - Campton-Book.woff") format("woff"),url("Rene Bieder - Campton-Book.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        