
@font-face {
    font-family:"Campton Medium";
    src:url("Campton-Medium.woff2") format("woff2"),url("Campton-Medium.woff") format("woff"),url("Campton-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        