
@font-face {
    font-family:"Campton-Black";
    src:url("Rene Bieder - Campton-Black.woff2") format("woff2"),url("Rene Bieder - Campton-Black.woff") format("woff"),url("Rene Bieder - Campton-Black.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        