
@font-face {
    font-family:"Campton Book Bold";
    src:url("Rene Bieder - Campton Book Bold.woff2") format("woff2"),url("Rene Bieder - Campton Book Bold.woff") format("woff"),url("Rene Bieder - Campton Book Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        