
@font-face {
    font-family:"Campton Light";
    src:url("Campton-Light.woff2") format("woff2"),url("Campton-Light.woff") format("woff"),url("Campton-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        