
@font-face {
    font-family:"Campton SemiBold";
    src:url("Campton_SemiBold.woff2") format("woff2"),url("Campton_SemiBold.woff") format("woff"),url("Campton_SemiBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        