
@font-face {
    font-family:"Lato Black";
    src:url("Lato-Black.woff2") format("woff2"),url("Lato-Black.woff") format("woff"),url("Lato-Black.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        