
@font-face {
    font-family:"Lato-Regular";
    src:url("Lato-Regular.woff2") format("woff2"),url("Lato-Regular.woff") format("woff"),url("Lato-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        