
@font-face {
    font-family:"Campton-Medium";
    src:url("Rene Bieder - Campton-Medium.woff2") format("woff2"),url("Rene Bieder - Campton-Medium.woff") format("woff"),url("Rene Bieder - Campton-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        