
@font-face {
    font-family:"Campton-ExtraLight";
    src:url("Rene Bieder - Campton-ExtraLight.woff2") format("woff2"),url("Rene Bieder - Campton-ExtraLight.woff") format("woff"),url("Rene Bieder - Campton-ExtraLight.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        