
@font-face {
    font-family:"Campton-ExtraBold";
    src:url("Rene Bieder - Campton-ExtraBold.woff2") format("woff2"),url("Rene Bieder - Campton-ExtraBold.woff") format("woff"),url("Rene Bieder - Campton-ExtraBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        