
@font-face {
    font-family:"Campton-Light";
    src:url("Rene Bieder - Campton-Light.woff2") format("woff2"),url("Rene Bieder - Campton-Light.woff") format("woff"),url("Rene Bieder - Campton-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        