
@font-face {
    font-family:"Campton-Thin";
    src:url("Rene Bieder - Campton-Thin.woff2") format("woff2"),url("Rene Bieder - Campton-Thin.woff") format("woff"),url("Rene Bieder - Campton-Thin.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        